body {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    background-color: gray;
    font-size: 0.9em;
    padding: 10px;
    width: 36%;
}

#main {
    padding: 10px;
    width: 62%;
}